@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300;400&display=swap");

@font-face {
  font-family: tesla-light;
  src: local("tesla-light"),
    url(/fonts/GothamSSm-Light_Web.woff2) format("woff");
}
@font-face {
  font-family: tesla-bold;
  src: local("tesla-bold"), url(/fonts/GothamSSm-Bold_Web.woff2) format("woff");
}
@font-face {
  font-family: tesla-medium;
  src: local("tesla-medium"),
    url(/fonts/GothamSSm-Medium_Web.woff2) format("woff");
}


/* :root {
    
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  /* background: url(/images/main\ background.jpeg) no-repeat center center/cover; */
  color: aliceblue;
  font-family: "tesla-light", "roboto", Arial, Helvetica, sans-serif;
  font-weight: 700;
  height: 300vh;
}
#page1 {
  background: url(/images/main\ background.jpeg) no-repeat center center/cover;
  /* width: 100vw; */
  height: 100vh;
}
#page2, #page3{
  height: 100vh;
}
.navbar {
  width: 100%;
  /* height: 50rem; */
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
ul {
  list-style: none;
  display: flex;
}
li {
  padding: 5px 5px;
}
#page1 a {
  text-decoration: none;
  color: aliceblue;
  position: relative;
  /* overflow: hidden; */
  z-index: 3;
}
#page1 a::after {
  content: "";
  width: 130%;
  height: 130%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-4px);
  transition: 1s all ease-in;
}
#page1 a:hover::after {
  background-color: gray;
  /* border-radius: 10px; */
  z-index: -1;
}
#main-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}
.gap {
  height: 55vh;
}
.box-bottom {
  display: flex;
  padding: 2rem;
  justify-content: space-around;
  width: 90%;
}
h1 {
  font-size: x-large;
}
h4 {
  font-size: large;
}
.box-bottom > a {
  border: 2px solid white;
  width: 120px;
  height: 25px;
  border-radius: 2px;
  text-align: center;
  padding-top: 5px;
}

#page2 > .main-box {
    display: flex;
    height: 100vh;
    color: black;
    width: 100%;
}
    
.arrow-bottom > img {
  width: 5px;
  height: 5px;
}
#car-image{
  width: 70%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#car-image > img{
  width:470px;
  height: 300px;
}
#car-info{
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px 10px;
  line-height: 1.6;
}
.main-box{
  height: 430px;
}
#buttom {
  width: 100%;
  justify-content: space-between;
  height: 5%;
}
.btn {
  width: 50%;
  border: 1.5px solid black;
  border-radius: 2px;
  text-align: center;
  /* padding: 5px 0; */
  font-weight: 400;
}
#buttom a {
  width: 50%;
  text-align: center;
  color: black;
  text-decoration: none;
}
header {
  height: 70%;
  padding: 3rem;
  background: url(/images/header-page3.jpeg) no-repeat center center/cover;
}
#gap-page3 {
  height: 65%;
}
#page3 footer{
  color: black;
}
#aside{
  width: 40%;
  padding: 20px 40x;
  flex-direction: column;
  justify-content: center;
}
footer {
  padding: 10px 40px;
}
footer #aside a{
  width: 120px;
  height: 25px; 
  border: 2px solid black;
  border-radius: 2px;
  text-align: center;
  padding-top: 5px;
}
  